// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$announce-title-name: 'announce_title';
$announce-title-x: 460px;
$announce-title-y: 99px;
$announce-title-offset-x: -460px;
$announce-title-offset-y: -99px;
$announce-title-width: 365px;
$announce-title-height: 84px;
$announce-title-total-width: 1288px;
$announce-title-total-height: 1135px;
$announce-title-image: '/m/images/sprite.png?1530538716909';
$announce-title: (460px, 99px, -460px, -99px, 365px, 84px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'announce_title', );
$anonymous-name: 'anonymous';
$anonymous-x: 745px;
$anonymous-y: 250px;
$anonymous-offset-x: -745px;
$anonymous-offset-y: -250px;
$anonymous-width: 26px;
$anonymous-height: 23px;
$anonymous-total-width: 1288px;
$anonymous-total-height: 1135px;
$anonymous-image: '/m/images/sprite.png?1530538716909';
$anonymous: (745px, 250px, -745px, -250px, 26px, 23px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'anonymous', );
$arr-left-name: 'arr-left';
$arr-left-x: 85px;
$arr-left-y: 1050px;
$arr-left-offset-x: -85px;
$arr-left-offset-y: -1050px;
$arr-left-width: 65px;
$arr-left-height: 85px;
$arr-left-total-width: 1288px;
$arr-left-total-height: 1135px;
$arr-left-image: '/m/images/sprite.png?1530538716909';
$arr-left: (85px, 1050px, -85px, -1050px, 65px, 85px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'arr-left', );
$arr-right-name: 'arr-right';
$arr-right-x: 0px;
$arr-right-y: 1050px;
$arr-right-offset-x: 0px;
$arr-right-offset-y: -1050px;
$arr-right-width: 65px;
$arr-right-height: 85px;
$arr-right-total-width: 1288px;
$arr-right-total-height: 1135px;
$arr-right-image: '/m/images/sprite.png?1530538716909';
$arr-right: (0px, 1050px, 0px, -1050px, 65px, 85px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'arr-right', );
$brandstory-title-name: 'brandstory_title';
$brandstory-title-x: 0px;
$brandstory-title-y: 753px;
$brandstory-title-offset-x: 0px;
$brandstory-title-offset-y: -753px;
$brandstory-title-width: 364px;
$brandstory-title-height: 79px;
$brandstory-title-total-width: 1288px;
$brandstory-title-total-height: 1135px;
$brandstory-title-image: '/m/images/sprite.png?1530538716909';
$brandstory-title: (0px, 753px, 0px, -753px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'brandstory_title', );
$campus-info-title-name: 'campus_info_title';
$campus-info-title-x: 460px;
$campus-info-title-y: 203px;
$campus-info-title-offset-x: -460px;
$campus-info-title-offset-y: -203px;
$campus-info-title-width: 164px;
$campus-info-title-height: 19px;
$campus-info-title-total-width: 1288px;
$campus-info-title-total-height: 1135px;
$campus-info-title-image: '/m/images/sprite.png?1530538716909';
$campus-info-title: (460px, 203px, -460px, -203px, 164px, 19px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'campus_info_title', );
$cert-info-title-name: 'cert_info_title';
$cert-info-title-x: 386px;
$cert-info-title-y: 652px;
$cert-info-title-offset-x: -386px;
$cert-info-title-offset-y: -652px;
$cert-info-title-width: 364px;
$cert-info-title-height: 79px;
$cert-info-title-total-width: 1288px;
$cert-info-title-total-height: 1135px;
$cert-info-title-image: '/m/images/sprite.png?1530538716909';
$cert-info-title: (386px, 652px, -386px, -652px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'cert_info_title', );
$class-information-title-name: 'class_information_title';
$class-information-title-x: 0px;
$class-information-title-y: 652px;
$class-information-title-offset-x: 0px;
$class-information-title-offset-y: -652px;
$class-information-title-width: 366px;
$class-information-title-height: 81px;
$class-information-title-total-width: 1288px;
$class-information-title-total-height: 1135px;
$class-information-title-image: '/m/images/sprite.png?1530538716909';
$class-information-title: (0px, 652px, 0px, -652px, 366px, 81px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'class_information_title', );
$company-edu-title-name: 'company_edu_title';
$company-edu-title-x: 460px;
$company-edu-title-y: 0px;
$company-edu-title-offset-x: -460px;
$company-edu-title-offset-y: 0px;
$company-edu-title-width: 444px;
$company-edu-title-height: 79px;
$company-edu-title-total-width: 1288px;
$company-edu-title-total-height: 1135px;
$company-edu-title-image: '/m/images/sprite.png?1530538716909';
$company-edu-title: (460px, 0px, -460px, 0px, 444px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'company_edu_title', );
$counsel-title-name: 'counsel_title';
$counsel-title-x: 924px;
$counsel-title-y: 297px;
$counsel-title-offset-x: -924px;
$counsel-title-offset-y: -297px;
$counsel-title-width: 364px;
$counsel-title-height: 79px;
$counsel-title-total-width: 1288px;
$counsel-title-total-height: 1135px;
$counsel-title-image: '/m/images/sprite.png?1530538716909';
$counsel-title: (924px, 297px, -924px, -297px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'counsel_title', );
$curri-img01-new-name: 'curri_img01_new';
$curri-img01-new-x: 0px;
$curri-img01-new-y: 0px;
$curri-img01-new-offset-x: 0px;
$curri-img01-new-offset-y: 0px;
$curri-img01-new-width: 440px;
$curri-img01-new-height: 230px;
$curri-img01-new-total-width: 1288px;
$curri-img01-new-total-height: 1135px;
$curri-img01-new-image: '/m/images/sprite.png?1530538716909';
$curri-img01-new: (0px, 0px, 0px, 0px, 440px, 230px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'curri_img01_new', );
$employed-title-name: 'employed_title';
$employed-title-x: 924px;
$employed-title-y: 198px;
$employed-title-offset-x: -924px;
$employed-title-offset-y: -198px;
$employed-title-width: 364px;
$employed-title-height: 79px;
$employed-title-total-width: 1288px;
$employed-title-total-height: 1135px;
$employed-title-image: '/m/images/sprite.png?1530538716909';
$employed-title: (924px, 198px, -924px, -198px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'employed_title', );
$ep-bg-name: 'ep_bg';
$ep-bg-x: 1240px;
$ep-bg-y: 529px;
$ep-bg-offset-x: -1240px;
$ep-bg-offset-y: -529px;
$ep-bg-width: 34px;
$ep-bg-height: 36px;
$ep-bg-total-width: 1288px;
$ep-bg-total-height: 1135px;
$ep-bg-image: '/m/images/sprite.png?1530538716909';
$ep-bg: (1240px, 529px, -1240px, -529px, 34px, 36px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'ep_bg', );
$ep-title-name: 'ep_title';
$ep-title-x: 924px;
$ep-title-y: 99px;
$ep-title-offset-x: -924px;
$ep-title-offset-y: -99px;
$ep-title-width: 364px;
$ep-title-height: 79px;
$ep-title-total-width: 1288px;
$ep-title-total-height: 1135px;
$ep-title-image: '/m/images/sprite.png?1530538716909';
$ep-title: (924px, 99px, -924px, -99px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'ep_title', );
$footer-ico1-name: 'footer_ico1';
$footer-ico1-x: 791px;
$footer-ico1-y: 250px;
$footer-ico1-offset-x: -791px;
$footer-ico1-offset-y: -250px;
$footer-ico1-width: 22px;
$footer-ico1-height: 21px;
$footer-ico1-total-width: 1288px;
$footer-ico1-total-height: 1135px;
$footer-ico1-image: '/m/images/sprite.png?1530538716909';
$footer-ico1: (791px, 250px, -791px, -250px, 22px, 21px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'footer_ico1', );
$footer-ico2-name: 'footer_ico2';
$footer-ico2-x: 833px;
$footer-ico2-y: 250px;
$footer-ico2-offset-x: -833px;
$footer-ico2-offset-y: -250px;
$footer-ico2-width: 18px;
$footer-ico2-height: 21px;
$footer-ico2-total-width: 1288px;
$footer-ico2-total-height: 1135px;
$footer-ico2-image: '/m/images/sprite.png?1530538716909';
$footer-ico2: (833px, 250px, -833px, -250px, 18px, 21px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'footer_ico2', );
$history-title-name: 'history_title';
$history-title-x: 924px;
$history-title-y: 0px;
$history-title-offset-x: -924px;
$history-title-offset-y: 0px;
$history-title-width: 364px;
$history-title-height: 79px;
$history-title-total-width: 1288px;
$history-title-total-height: 1135px;
$history-title-image: '/m/images/sprite.png?1530538716909';
$history-title: (924px, 0px, -924px, 0px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'history_title', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 770px;
$icon-facebook-y: 340px;
$icon-facebook-offset-x: -770px;
$icon-facebook-offset-y: -340px;
$icon-facebook-width: 49px;
$icon-facebook-height: 49px;
$icon-facebook-total-width: 1288px;
$icon-facebook-total-height: 1135px;
$icon-facebook-image: '/m/images/sprite.png?1530538716909';
$icon-facebook: (770px, 340px, -770px, -340px, 49px, 49px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'icon_facebook', );
$icon-mobile-notice-name: 'icon_mobile_notice';
$icon-mobile-notice-x: 1240px;
$icon-mobile-notice-y: 743px;
$icon-mobile-notice-offset-x: -1240px;
$icon-mobile-notice-offset-y: -743px;
$icon-mobile-notice-width: 25px;
$icon-mobile-notice-height: 26px;
$icon-mobile-notice-total-width: 1288px;
$icon-mobile-notice-total-height: 1135px;
$icon-mobile-notice-image: '/m/images/sprite.png?1530538716909';
$icon-mobile-notice: (1240px, 743px, -1240px, -743px, 25px, 26px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'icon_mobile_notice', );
$icon-navertv-name: 'icon_navertv';
$icon-navertv-x: 845px;
$icon-navertv-y: 99px;
$icon-navertv-offset-x: -845px;
$icon-navertv-offset-y: -99px;
$icon-navertv-width: 49px;
$icon-navertv-height: 49px;
$icon-navertv-total-width: 1288px;
$icon-navertv-total-height: 1135px;
$icon-navertv-image: '/m/images/sprite.png?1530538716909';
$icon-navertv: (845px, 99px, -845px, -99px, 49px, 49px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'icon_navertv', );
$l-menu-img1-name: 'l_menu_img1';
$l-menu-img1-x: 1082px;
$l-menu-img1-y: 678px;
$l-menu-img1-offset-x: -1082px;
$l-menu-img1-offset-y: -678px;
$l-menu-img1-width: 138px;
$l-menu-img1-height: 91px;
$l-menu-img1-total-width: 1288px;
$l-menu-img1-total-height: 1135px;
$l-menu-img1-image: '/m/images/sprite.png?1530538716909';
$l-menu-img1: (1082px, 678px, -1082px, -678px, 138px, 91px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'l_menu_img1', );
$l-menu-img4-name: 'l_menu_img4';
$l-menu-img4-x: 924px;
$l-menu-img4-y: 529px;
$l-menu-img4-offset-x: -924px;
$l-menu-img4-offset-y: -529px;
$l-menu-img4-width: 138px;
$l-menu-img4-height: 129px;
$l-menu-img4-total-width: 1288px;
$l-menu-img4-total-height: 1135px;
$l-menu-img4-image: '/m/images/sprite.png?1530538716909';
$l-menu-img4: (924px, 529px, -924px, -529px, 138px, 129px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'l_menu_img4', );
$l-menu-img5-name: 'l_menu_img5';
$l-menu-img5-x: 1082px;
$l-menu-img5-y: 529px;
$l-menu-img5-offset-x: -1082px;
$l-menu-img5-offset-y: -529px;
$l-menu-img5-width: 138px;
$l-menu-img5-height: 128px;
$l-menu-img5-total-width: 1288px;
$l-menu-img5-total-height: 1135px;
$l-menu-img5-image: '/m/images/sprite.png?1530538716909';
$l-menu-img5: (1082px, 529px, -1082px, -529px, 138px, 128px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'l_menu_img5', );
$l-menu-img6-name: 'l_menu_img6';
$l-menu-img6-x: 924px;
$l-menu-img6-y: 678px;
$l-menu-img6-offset-x: -924px;
$l-menu-img6-offset-y: -678px;
$l-menu-img6-width: 138px;
$l-menu-img6-height: 128px;
$l-menu-img6-total-width: 1288px;
$l-menu-img6-total-height: 1135px;
$l-menu-img6-image: '/m/images/sprite.png?1530538716909';
$l-menu-img6: (924px, 678px, -924px, -678px, 138px, 128px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'l_menu_img6', );
$l-menu-logo-name: 'l_menu_logo';
$l-menu-logo-x: 0px;
$l-menu-logo-y: 250px;
$l-menu-logo-offset-x: 0px;
$l-menu-logo-offset-y: -250px;
$l-menu-logo-width: 452px;
$l-menu-logo-height: 70px;
$l-menu-logo-total-width: 1288px;
$l-menu-logo-total-height: 1135px;
$l-menu-logo-image: '/m/images/sprite.png?1530538716909';
$l-menu-logo: (0px, 250px, 0px, -250px, 452px, 70px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'l_menu_logo', );
$m-footer-logo2-name: 'm_footer_logo2';
$m-footer-logo2-x: 0px;
$m-footer-logo2-y: 973px;
$m-footer-logo2-offset-x: 0px;
$m-footer-logo2-offset-y: -973px;
$m-footer-logo2-width: 150px;
$m-footer-logo2-height: 57px;
$m-footer-logo2-total-width: 1288px;
$m-footer-logo2-total-height: 1135px;
$m-footer-logo2-image: '/m/images/sprite.png?1530538716909';
$m-footer-logo2: (0px, 973px, 0px, -973px, 150px, 57px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'm_footer_logo2', );
$m-main-logo-name: 'm_main_logo';
$m-main-logo-x: 924px;
$m-main-logo-y: 396px;
$m-main-logo-offset-x: -924px;
$m-main-logo-offset-y: -396px;
$m-main-logo-width: 240px;
$m-main-logo-height: 113px;
$m-main-logo-total-width: 1288px;
$m-main-logo-total-height: 1135px;
$m-main-logo-image: '/m/images/sprite.png?1530538716909';
$m-main-logo: (924px, 396px, -924px, -396px, 240px, 113px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'm_main_logo', );
$m-portfolio-title-name: 'm_portfolio_title';
$m-portfolio-title-x: 240px;
$m-portfolio-title-y: 852px;
$m-portfolio-title-offset-x: -240px;
$m-portfolio-title-offset-y: -852px;
$m-portfolio-title-width: 232px;
$m-portfolio-title-height: 35px;
$m-portfolio-title-total-width: 1288px;
$m-portfolio-title-total-height: 1135px;
$m-portfolio-title-image: '/m/images/sprite.png?1530538716909';
$m-portfolio-title: (240px, 852px, -240px, -852px, 232px, 35px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'm_portfolio_title', );
$m-teacher-left-arrow-name: 'm_teacher_left_arrow';
$m-teacher-left-arrow-x: 1240px;
$m-teacher-left-arrow-y: 678px;
$m-teacher-left-arrow-offset-x: -1240px;
$m-teacher-left-arrow-offset-y: -678px;
$m-teacher-left-arrow-width: 16px;
$m-teacher-left-arrow-height: 45px;
$m-teacher-left-arrow-total-width: 1288px;
$m-teacher-left-arrow-total-height: 1135px;
$m-teacher-left-arrow-image: '/m/images/sprite.png?1530538716909';
$m-teacher-left-arrow: (1240px, 678px, -1240px, -678px, 16px, 45px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'm_teacher_left_arrow', );
$m-teacher-right-arrow-name: 'm_teacher_right_arrow';
$m-teacher-right-arrow-x: 1240px;
$m-teacher-right-arrow-y: 585px;
$m-teacher-right-arrow-offset-x: -1240px;
$m-teacher-right-arrow-offset-y: -585px;
$m-teacher-right-arrow-width: 17px;
$m-teacher-right-arrow-height: 46px;
$m-teacher-right-arrow-total-width: 1288px;
$m-teacher-right-arrow-total-height: 1135px;
$m-teacher-right-arrow-image: '/m/images/sprite.png?1530538716909';
$m-teacher-right-arrow: (1240px, 585px, -1240px, -585px, 17px, 46px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'm_teacher_right_arrow', );
$r-box-down-arr-name: 'r_box_down_arr';
$r-box-down-arr-x: 1082px;
$r-box-down-arr-y: 789px;
$r-box-down-arr-offset-x: -1082px;
$r-box-down-arr-offset-y: -789px;
$r-box-down-arr-width: 26px;
$r-box-down-arr-height: 16px;
$r-box-down-arr-total-width: 1288px;
$r-box-down-arr-total-height: 1135px;
$r-box-down-arr-image: '/m/images/sprite.png?1530538716909';
$r-box-down-arr: (1082px, 789px, -1082px, -789px, 26px, 16px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'r_box_down_arr', );
$review-icon1-1-name: 'review_icon1_1';
$review-icon1-1-x: 1184px;
$review-icon1-1-y: 396px;
$review-icon1-1-offset-x: -1184px;
$review-icon1-1-offset-y: -396px;
$review-icon1-1-width: 100px;
$review-icon1-1-height: 101px;
$review-icon1-1-total-width: 1288px;
$review-icon1-1-total-height: 1135px;
$review-icon1-1-image: '/m/images/sprite.png?1530538716909';
$review-icon1-1: (1184px, 396px, -1184px, -396px, 100px, 101px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'review_icon1_1', );
$review-icon1-2-name: 'review_icon1_2';
$review-icon1-2-x: 0px;
$review-icon1-2-y: 852px;
$review-icon1-2-offset-x: 0px;
$review-icon1-2-offset-y: -852px;
$review-icon1-2-width: 100px;
$review-icon1-2-height: 101px;
$review-icon1-2-total-width: 1288px;
$review-icon1-2-total-height: 1135px;
$review-icon1-2-image: '/m/images/sprite.png?1530538716909';
$review-icon1-2: (0px, 852px, 0px, -852px, 100px, 101px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'review_icon1_2', );
$review-icon1-3-name: 'review_icon1_3';
$review-icon1-3-x: 120px;
$review-icon1-3-y: 852px;
$review-icon1-3-offset-x: -120px;
$review-icon1-3-offset-y: -852px;
$review-icon1-3-width: 100px;
$review-icon1-3-height: 101px;
$review-icon1-3-total-width: 1288px;
$review-icon1-3-total-height: 1135px;
$review-icon1-3-image: '/m/images/sprite.png?1530538716909';
$review-icon1-3: (120px, 852px, -120px, -852px, 100px, 101px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'review_icon1_3', );
$sns-review-title-name: 'sns_review_title';
$sns-review-title-x: 472px;
$sns-review-title-y: 250px;
$sns-review-title-offset-x: -472px;
$sns-review-title-offset-y: -250px;
$sns-review-title-width: 253px;
$sns-review-title-height: 47px;
$sns-review-title-total-width: 1288px;
$sns-review-title-total-height: 1135px;
$sns-review-title-image: '/m/images/sprite.png?1530538716909';
$sns-review-title: (472px, 250px, -472px, -250px, 253px, 47px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'sns_review_title', );
$special-course-title-name: 'special_course_title';
$special-course-title-x: 492px;
$special-course-title-y: 852px;
$special-course-title-offset-x: -492px;
$special-course-title-offset-y: -852px;
$special-course-title-width: 197px;
$special-course-title-height: 34px;
$special-course-title-total-width: 1288px;
$special-course-title-total-height: 1135px;
$special-course-title-image: '/m/images/sprite.png?1530538716909';
$special-course-title: (492px, 852px, -492px, -852px, 197px, 34px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'special_course_title', );
$tit-campusinfo-name: 'tit_campusinfo';
$tit-campusinfo-x: 385px;
$tit-campusinfo-y: 444px;
$tit-campusinfo-offset-x: -385px;
$tit-campusinfo-offset-y: -444px;
$tit-campusinfo-width: 364px;
$tit-campusinfo-height: 84px;
$tit-campusinfo-total-width: 1288px;
$tit-campusinfo-total-height: 1135px;
$tit-campusinfo-image: '/m/images/sprite.png?1530538716909';
$tit-campusinfo: (385px, 444px, -385px, -444px, 364px, 84px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'tit_campusinfo', );
$tit-eplg-name: 'tit_eplg';
$tit-eplg-x: 0px;
$tit-eplg-y: 444px;
$tit-eplg-offset-x: 0px;
$tit-eplg-offset-y: -444px;
$tit-eplg-width: 365px;
$tit-eplg-height: 84px;
$tit-eplg-total-width: 1288px;
$tit-eplg-total-height: 1135px;
$tit-eplg-image: '/m/images/sprite.png?1530538716909';
$tit-eplg: (0px, 444px, 0px, -444px, 365px, 84px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'tit_eplg', );
$tit-pf-name: 'tit_pf';
$tit-pf-x: 0px;
$tit-pf-y: 548px;
$tit-pf-offset-x: 0px;
$tit-pf-offset-y: -548px;
$tit-pf-width: 364px;
$tit-pf-height: 84px;
$tit-pf-total-width: 1288px;
$tit-pf-total-height: 1135px;
$tit-pf-image: '/m/images/sprite.png?1530538716909';
$tit-pf: (0px, 548px, 0px, -548px, 364px, 84px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'tit_pf', );
$tit-pg-name: 'tit_pg';
$tit-pg-x: 0px;
$tit-pg-y: 340px;
$tit-pg-offset-x: 0px;
$tit-pg-offset-y: -340px;
$tit-pg-width: 365px;
$tit-pg-height: 84px;
$tit-pg-total-width: 1288px;
$tit-pg-total-height: 1135px;
$tit-pg-image: '/m/images/sprite.png?1530538716909';
$tit-pg: (0px, 340px, 0px, -340px, 365px, 84px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'tit_pg', );
$tit-qna-name: 'tit_qna';
$tit-qna-x: 385px;
$tit-qna-y: 340px;
$tit-qna-offset-x: -385px;
$tit-qna-offset-y: -340px;
$tit-qna-width: 365px;
$tit-qna-height: 84px;
$tit-qna-total-width: 1288px;
$tit-qna-total-height: 1135px;
$tit-qna-image: '/m/images/sprite.png?1530538716909';
$tit-qna: (385px, 340px, -385px, -340px, 365px, 84px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'tit_qna', );
$title-ci-name: 'title_ci';
$title-ci-x: 384px;
$title-ci-y: 753px;
$title-ci-offset-x: -384px;
$title-ci-offset-y: -753px;
$title-ci-width: 364px;
$title-ci-height: 79px;
$title-ci-total-width: 1288px;
$title-ci-total-height: 1135px;
$title-ci-image: '/m/images/sprite.png?1530538716909';
$title-ci: (384px, 753px, -384px, -753px, 364px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'title_ci', );
$unemployed-title-name: 'unemployed_title';
$unemployed-title-x: 384px;
$unemployed-title-y: 548px;
$unemployed-title-offset-x: -384px;
$unemployed-title-offset-y: -548px;
$unemployed-title-width: 378px;
$unemployed-title-height: 79px;
$unemployed-title-total-width: 1288px;
$unemployed-title-total-height: 1135px;
$unemployed-title-image: '/m/images/sprite.png?1530538716909';
$unemployed-title: (384px, 548px, -384px, -548px, 378px, 79px, 1288px, 1135px, '/m/images/sprite.png?1530538716909', 'unemployed_title', );
$spritesheet-width: 1288px;
$spritesheet-height: 1135px;
$spritesheet-image: '/m/images/sprite.png?1530538716909';
$spritesheet-sprites: ($announce-title, $anonymous, $arr-left, $arr-right, $brandstory-title, $campus-info-title, $cert-info-title, $class-information-title, $company-edu-title, $counsel-title, $curri-img01-new, $employed-title, $ep-bg, $ep-title, $footer-ico1, $footer-ico2, $history-title, $icon-facebook, $icon-mobile-notice, $icon-navertv, $l-menu-img1, $l-menu-img4, $l-menu-img5, $l-menu-img6, $l-menu-logo, $m-footer-logo2, $m-main-logo, $m-portfolio-title, $m-teacher-left-arrow, $m-teacher-right-arrow, $r-box-down-arr, $review-icon1-1, $review-icon1-2, $review-icon1-3, $sns-review-title, $special-course-title, $tit-campusinfo, $tit-eplg, $tit-pf, $tit-pg, $tit-qna, $title-ci, $unemployed-title, );
$spritesheet: (1288px, 1135px, '/m/images/sprite.png?1530538716909', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
