// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$anonymous-name: 'anonymous';
$anonymous-x: 932px;
$anonymous-y: 414px;
$anonymous-offset-x: -932px;
$anonymous-offset-y: -414px;
$anonymous-width: 26px;
$anonymous-height: 23px;
$anonymous-total-width: 997px;
$anonymous-total-height: 816px;
$anonymous-image: '/m/images/sprite.png?1529932214070';
$anonymous: (932px, 414px, -932px, -414px, 26px, 23px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'anonymous', );
$arr-left-name: 'arr-left';
$arr-left-x: 932px;
$arr-left-y: 0px;
$arr-left-offset-x: -932px;
$arr-left-offset-y: 0px;
$arr-left-width: 65px;
$arr-left-height: 85px;
$arr-left-total-width: 997px;
$arr-left-total-height: 816px;
$arr-left-image: '/m/images/sprite.png?1529932214070';
$arr-left: (932px, 0px, -932px, 0px, 65px, 85px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'arr-left', );
$arr-right-name: 'arr-right';
$arr-right-x: 932px;
$arr-right-y: 105px;
$arr-right-offset-x: -932px;
$arr-right-offset-y: -105px;
$arr-right-width: 65px;
$arr-right-height: 85px;
$arr-right-total-width: 997px;
$arr-right-total-height: 816px;
$arr-right-image: '/m/images/sprite.png?1529932214070';
$arr-right: (932px, 105px, -932px, -105px, 65px, 85px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'arr-right', );
$campus-info-title-name: 'campus_info_title';
$campus-info-title-x: 533px;
$campus-info-title-y: 554px;
$campus-info-title-offset-x: -533px;
$campus-info-title-offset-y: -554px;
$campus-info-title-width: 164px;
$campus-info-title-height: 19px;
$campus-info-title-total-width: 997px;
$campus-info-title-total-height: 816px;
$campus-info-title-image: '/m/images/sprite.png?1529932214070';
$campus-info-title: (533px, 554px, -533px, -554px, 164px, 19px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'campus_info_title', );
$class-information-title-name: 'class_information_title';
$class-information-title-x: 0px;
$class-information-title-y: 354px;
$class-information-title-offset-x: 0px;
$class-information-title-offset-y: -354px;
$class-information-title-width: 366px;
$class-information-title-height: 81px;
$class-information-title-total-width: 997px;
$class-information-title-total-height: 816px;
$class-information-title-image: '/m/images/sprite.png?1529932214070';
$class-information-title: (0px, 354px, 0px, -354px, 366px, 81px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'class_information_title', );
$counsel-title-name: 'counsel_title';
$counsel-title-x: 386px;
$counsel-title-y: 354px;
$counsel-title-offset-x: -386px;
$counsel-title-offset-y: -354px;
$counsel-title-width: 364px;
$counsel-title-height: 79px;
$counsel-title-total-width: 997px;
$counsel-title-total-height: 816px;
$counsel-title-image: '/m/images/sprite.png?1529932214070';
$counsel-title: (386px, 354px, -386px, -354px, 364px, 79px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'counsel_title', );
$curri-img01-new-name: 'curri_img01_new';
$curri-img01-new-x: 0px;
$curri-img01-new-y: 0px;
$curri-img01-new-offset-x: 0px;
$curri-img01-new-offset-y: 0px;
$curri-img01-new-width: 440px;
$curri-img01-new-height: 230px;
$curri-img01-new-total-width: 997px;
$curri-img01-new-total-height: 816px;
$curri-img01-new-image: '/m/images/sprite.png?1529932214070';
$curri-img01-new: (0px, 0px, 0px, 0px, 440px, 230px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'curri_img01_new', );
$employed-title-name: 'employed_title';
$employed-title-x: 384px;
$employed-title-y: 455px;
$employed-title-offset-x: -384px;
$employed-title-offset-y: -455px;
$employed-title-width: 364px;
$employed-title-height: 79px;
$employed-title-total-width: 997px;
$employed-title-total-height: 816px;
$employed-title-image: '/m/images/sprite.png?1529932214070';
$employed-title: (384px, 455px, -384px, -455px, 364px, 79px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'employed_title', );
$ep-title-name: 'ep_title';
$ep-title-x: 0px;
$ep-title-y: 455px;
$ep-title-offset-x: 0px;
$ep-title-offset-y: -455px;
$ep-title-width: 364px;
$ep-title-height: 79px;
$ep-title-total-width: 997px;
$ep-title-total-height: 816px;
$ep-title-image: '/m/images/sprite.png?1529932214070';
$ep-title: (0px, 455px, 0px, -455px, 364px, 79px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'ep_title', );
$footer-ico1-name: 'footer_ico1';
$footer-ico1-x: 932px;
$footer-ico1-y: 457px;
$footer-ico1-offset-x: -932px;
$footer-ico1-offset-y: -457px;
$footer-ico1-width: 22px;
$footer-ico1-height: 21px;
$footer-ico1-total-width: 997px;
$footer-ico1-total-height: 816px;
$footer-ico1-image: '/m/images/sprite.png?1529932214070';
$footer-ico1: (932px, 457px, -932px, -457px, 22px, 21px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'footer_ico1', );
$footer-ico2-name: 'footer_ico2';
$footer-ico2-x: 978px;
$footer-ico2-y: 414px;
$footer-ico2-offset-x: -978px;
$footer-ico2-offset-y: -414px;
$footer-ico2-width: 18px;
$footer-ico2-height: 21px;
$footer-ico2-total-width: 997px;
$footer-ico2-total-height: 816px;
$footer-ico2-image: '/m/images/sprite.png?1529932214070';
$footer-ico2: (978px, 414px, -978px, -414px, 18px, 21px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'footer_ico2', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 932px;
$icon-facebook-y: 210px;
$icon-facebook-offset-x: -932px;
$icon-facebook-offset-y: -210px;
$icon-facebook-width: 49px;
$icon-facebook-height: 49px;
$icon-facebook-total-width: 997px;
$icon-facebook-total-height: 816px;
$icon-facebook-image: '/m/images/sprite.png?1529932214070';
$icon-facebook: (932px, 210px, -932px, -210px, 49px, 49px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'icon_facebook', );
$icon-navertv-name: 'icon_navertv';
$icon-navertv-x: 932px;
$icon-navertv-y: 279px;
$icon-navertv-offset-x: -932px;
$icon-navertv-offset-y: -279px;
$icon-navertv-width: 49px;
$icon-navertv-height: 49px;
$icon-navertv-total-width: 997px;
$icon-navertv-total-height: 816px;
$icon-navertv-image: '/m/images/sprite.png?1529932214070';
$icon-navertv: (932px, 279px, -932px, -279px, 49px, 49px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'icon_navertv', );
$l-menu-img1-name: 'l_menu_img1';
$l-menu-img1-x: 474px;
$l-menu-img1-y: 687px;
$l-menu-img1-offset-x: -474px;
$l-menu-img1-offset-y: -687px;
$l-menu-img1-width: 138px;
$l-menu-img1-height: 91px;
$l-menu-img1-total-width: 997px;
$l-menu-img1-total-height: 816px;
$l-menu-img1-image: '/m/images/sprite.png?1529932214070';
$l-menu-img1: (474px, 687px, -474px, -687px, 138px, 91px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'l_menu_img1', );
$l-menu-img4-name: 'l_menu_img4';
$l-menu-img4-x: 0px;
$l-menu-img4-y: 687px;
$l-menu-img4-offset-x: 0px;
$l-menu-img4-offset-y: -687px;
$l-menu-img4-width: 138px;
$l-menu-img4-height: 129px;
$l-menu-img4-total-width: 997px;
$l-menu-img4-total-height: 816px;
$l-menu-img4-image: '/m/images/sprite.png?1529932214070';
$l-menu-img4: (0px, 687px, 0px, -687px, 138px, 129px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'l_menu_img4', );
$l-menu-img5-name: 'l_menu_img5';
$l-menu-img5-x: 158px;
$l-menu-img5-y: 687px;
$l-menu-img5-offset-x: -158px;
$l-menu-img5-offset-y: -687px;
$l-menu-img5-width: 138px;
$l-menu-img5-height: 128px;
$l-menu-img5-total-width: 997px;
$l-menu-img5-total-height: 816px;
$l-menu-img5-image: '/m/images/sprite.png?1529932214070';
$l-menu-img5: (158px, 687px, -158px, -687px, 138px, 128px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'l_menu_img5', );
$l-menu-img6-name: 'l_menu_img6';
$l-menu-img6-x: 316px;
$l-menu-img6-y: 687px;
$l-menu-img6-offset-x: -316px;
$l-menu-img6-offset-y: -687px;
$l-menu-img6-width: 138px;
$l-menu-img6-height: 128px;
$l-menu-img6-total-width: 997px;
$l-menu-img6-total-height: 816px;
$l-menu-img6-image: '/m/images/sprite.png?1529932214070';
$l-menu-img6: (316px, 687px, -316px, -687px, 138px, 128px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'l_menu_img6', );
$l-menu-logo-name: 'l_menu_logo';
$l-menu-logo-x: 460px;
$l-menu-logo-y: 0px;
$l-menu-logo-offset-x: -460px;
$l-menu-logo-offset-y: 0px;
$l-menu-logo-width: 452px;
$l-menu-logo-height: 70px;
$l-menu-logo-total-width: 997px;
$l-menu-logo-total-height: 816px;
$l-menu-logo-image: '/m/images/sprite.png?1529932214070';
$l-menu-logo: (460px, 0px, -460px, 0px, 452px, 70px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'l_menu_logo', );
$m-footer-logo2-name: 'm_footer_logo2';
$m-footer-logo2-x: 632px;
$m-footer-logo2-y: 687px;
$m-footer-logo2-offset-x: -632px;
$m-footer-logo2-offset-y: -687px;
$m-footer-logo2-width: 150px;
$m-footer-logo2-height: 57px;
$m-footer-logo2-total-width: 997px;
$m-footer-logo2-total-height: 816px;
$m-footer-logo2-image: '/m/images/sprite.png?1529932214070';
$m-footer-logo2: (632px, 687px, -632px, -687px, 150px, 57px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'm_footer_logo2', );
$m-main-logo-name: 'm_main_logo';
$m-main-logo-x: 0px;
$m-main-logo-y: 554px;
$m-main-logo-offset-x: 0px;
$m-main-logo-offset-y: -554px;
$m-main-logo-width: 240px;
$m-main-logo-height: 113px;
$m-main-logo-total-width: 997px;
$m-main-logo-total-height: 816px;
$m-main-logo-image: '/m/images/sprite.png?1529932214070';
$m-main-logo: (0px, 554px, 0px, -554px, 240px, 113px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'm_main_logo', );
$m-portfolio-title-name: 'm_portfolio_title';
$m-portfolio-title-x: 460px;
$m-portfolio-title-y: 194px;
$m-portfolio-title-offset-x: -460px;
$m-portfolio-title-offset-y: -194px;
$m-portfolio-title-width: 232px;
$m-portfolio-title-height: 35px;
$m-portfolio-title-total-width: 997px;
$m-portfolio-title-total-height: 816px;
$m-portfolio-title-image: '/m/images/sprite.png?1529932214070';
$m-portfolio-title: (460px, 194px, -460px, -194px, 232px, 35px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'm_portfolio_title', );
$m-teacher-left-arrow-name: 'm_teacher_left_arrow';
$m-teacher-left-arrow-x: 969px;
$m-teacher-left-arrow-y: 348px;
$m-teacher-left-arrow-offset-x: -969px;
$m-teacher-left-arrow-offset-y: -348px;
$m-teacher-left-arrow-width: 16px;
$m-teacher-left-arrow-height: 45px;
$m-teacher-left-arrow-total-width: 997px;
$m-teacher-left-arrow-total-height: 816px;
$m-teacher-left-arrow-image: '/m/images/sprite.png?1529932214070';
$m-teacher-left-arrow: (969px, 348px, -969px, -348px, 16px, 45px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'm_teacher_left_arrow', );
$m-teacher-right-arrow-name: 'm_teacher_right_arrow';
$m-teacher-right-arrow-x: 932px;
$m-teacher-right-arrow-y: 348px;
$m-teacher-right-arrow-offset-x: -932px;
$m-teacher-right-arrow-offset-y: -348px;
$m-teacher-right-arrow-width: 17px;
$m-teacher-right-arrow-height: 46px;
$m-teacher-right-arrow-total-width: 997px;
$m-teacher-right-arrow-total-height: 816px;
$m-teacher-right-arrow-image: '/m/images/sprite.png?1529932214070';
$m-teacher-right-arrow: (932px, 348px, -932px, -348px, 17px, 46px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'm_teacher_right_arrow', );
$r-box-down-arr-name: 'r_box_down_arr';
$r-box-down-arr-x: 932px;
$r-box-down-arr-y: 498px;
$r-box-down-arr-offset-x: -932px;
$r-box-down-arr-offset-y: -498px;
$r-box-down-arr-width: 26px;
$r-box-down-arr-height: 16px;
$r-box-down-arr-total-width: 997px;
$r-box-down-arr-total-height: 816px;
$r-box-down-arr-image: '/m/images/sprite.png?1529932214070';
$r-box-down-arr: (932px, 498px, -932px, -498px, 26px, 16px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'r_box_down_arr', );
$sns-review-title-name: 'sns_review_title';
$sns-review-title-x: 260px;
$sns-review-title-y: 554px;
$sns-review-title-offset-x: -260px;
$sns-review-title-offset-y: -554px;
$sns-review-title-width: 253px;
$sns-review-title-height: 47px;
$sns-review-title-total-width: 997px;
$sns-review-title-total-height: 816px;
$sns-review-title-image: '/m/images/sprite.png?1529932214070';
$sns-review-title: (260px, 554px, -260px, -554px, 253px, 47px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'sns_review_title', );
$special-course-title-name: 'special_course_title';
$special-course-title-x: 712px;
$special-course-title-y: 194px;
$special-course-title-offset-x: -712px;
$special-course-title-offset-y: -194px;
$special-course-title-width: 197px;
$special-course-title-height: 34px;
$special-course-title-total-width: 997px;
$special-course-title-total-height: 816px;
$special-course-title-image: '/m/images/sprite.png?1529932214070';
$special-course-title: (712px, 194px, -712px, -194px, 197px, 34px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'special_course_title', );
$tit-campusinfo-name: 'tit_campusinfo';
$tit-campusinfo-x: 0px;
$tit-campusinfo-y: 250px;
$tit-campusinfo-offset-x: 0px;
$tit-campusinfo-offset-y: -250px;
$tit-campusinfo-width: 364px;
$tit-campusinfo-height: 84px;
$tit-campusinfo-total-width: 997px;
$tit-campusinfo-total-height: 816px;
$tit-campusinfo-image: '/m/images/sprite.png?1529932214070';
$tit-campusinfo: (0px, 250px, 0px, -250px, 364px, 84px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'tit_campusinfo', );
$tit-pf-name: 'tit_pf';
$tit-pf-x: 460px;
$tit-pf-y: 90px;
$tit-pf-offset-x: -460px;
$tit-pf-offset-y: -90px;
$tit-pf-width: 364px;
$tit-pf-height: 84px;
$tit-pf-total-width: 997px;
$tit-pf-total-height: 816px;
$tit-pf-image: '/m/images/sprite.png?1529932214070';
$tit-pf: (460px, 90px, -460px, -90px, 364px, 84px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'tit_pf', );
$unemployed-title-name: 'unemployed_title';
$unemployed-title-x: 384px;
$unemployed-title-y: 250px;
$unemployed-title-offset-x: -384px;
$unemployed-title-offset-y: -250px;
$unemployed-title-width: 378px;
$unemployed-title-height: 79px;
$unemployed-title-total-width: 997px;
$unemployed-title-total-height: 816px;
$unemployed-title-image: '/m/images/sprite.png?1529932214070';
$unemployed-title: (384px, 250px, -384px, -250px, 378px, 79px, 997px, 816px, '/m/images/sprite.png?1529932214070', 'unemployed_title', );
$spritesheet-width: 997px;
$spritesheet-height: 816px;
$spritesheet-image: '/m/images/sprite.png?1529932214070';
$spritesheet-sprites: ($anonymous, $arr-left, $arr-right, $campus-info-title, $class-information-title, $counsel-title, $curri-img01-new, $employed-title, $ep-title, $footer-ico1, $footer-ico2, $icon-facebook, $icon-navertv, $l-menu-img1, $l-menu-img4, $l-menu-img5, $l-menu-img6, $l-menu-logo, $m-footer-logo2, $m-main-logo, $m-portfolio-title, $m-teacher-left-arrow, $m-teacher-right-arrow, $r-box-down-arr, $sns-review-title, $special-course-title, $tit-campusinfo, $tit-pf, $unemployed-title, );
$spritesheet: (997px, 816px, '/m/images/sprite.png?1529932214070', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
