// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$campus-info-title-name: 'campus_info_title';
$campus-info-title-x: 418px;
$campus-info-title-y: 492px;
$campus-info-title-offset-x: -418px;
$campus-info-title-offset-y: -492px;
$campus-info-title-width: 164px;
$campus-info-title-height: 19px;
$campus-info-title-total-width: 904px;
$campus-info-title-total-height: 744px;
$campus-info-title-image: '/m/images/sprite.png?1529506103997';
$campus-info-title: (418px, 492px, -418px, -492px, 164px, 19px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'campus_info_title', );
$class-information-title-name: 'class_information_title';
$class-information-title-x: 0px;
$class-information-title-y: 336px;
$class-information-title-offset-x: 0px;
$class-information-title-offset-y: -336px;
$class-information-title-width: 366px;
$class-information-title-height: 81px;
$class-information-title-total-width: 904px;
$class-information-title-total-height: 744px;
$class-information-title-image: '/m/images/sprite.png?1529506103997';
$class-information-title: (0px, 336px, 0px, -336px, 366px, 81px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'class_information_title', );
$curri-img01-new-name: 'curri_img01_new';
$curri-img01-new-x: 0px;
$curri-img01-new-y: 0px;
$curri-img01-new-offset-x: 0px;
$curri-img01-new-offset-y: 0px;
$curri-img01-new-width: 432px;
$curri-img01-new-height: 212px;
$curri-img01-new-total-width: 904px;
$curri-img01-new-total-height: 744px;
$curri-img01-new-image: '/m/images/sprite.png?1529506103997';
$curri-img01-new: (0px, 0px, 0px, 0px, 432px, 212px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'curri_img01_new', );
$curri-img02-name: 'curri_img02';
$curri-img02-x: 0px;
$curri-img02-y: 570px;
$curri-img02-offset-x: 0px;
$curri-img02-offset-y: -570px;
$curri-img02-width: 126px;
$curri-img02-height: 174px;
$curri-img02-total-width: 904px;
$curri-img02-total-height: 744px;
$curri-img02-image: '/m/images/sprite.png?1529506103997';
$curri-img02: (0px, 570px, 0px, -570px, 126px, 174px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'curri_img02', );
$employed-title-name: 'employed_title';
$employed-title-x: 386px;
$employed-title-y: 336px;
$employed-title-offset-x: -386px;
$employed-title-offset-y: -336px;
$employed-title-width: 364px;
$employed-title-height: 79px;
$employed-title-total-width: 904px;
$employed-title-total-height: 744px;
$employed-title-image: '/m/images/sprite.png?1529506103997';
$employed-title: (386px, 336px, -386px, -336px, 364px, 79px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'employed_title', );
$footer-ico1-name: 'footer_ico1';
$footer-ico1-x: 770px;
$footer-ico1-y: 336px;
$footer-ico1-offset-x: -770px;
$footer-ico1-offset-y: -336px;
$footer-ico1-width: 22px;
$footer-ico1-height: 21px;
$footer-ico1-total-width: 904px;
$footer-ico1-total-height: 744px;
$footer-ico1-image: '/m/images/sprite.png?1529506103997';
$footer-ico1: (770px, 336px, -770px, -336px, 22px, 21px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'footer_ico1', );
$footer-ico2-name: 'footer_ico2';
$footer-ico2-x: 812px;
$footer-ico2-y: 336px;
$footer-ico2-offset-x: -812px;
$footer-ico2-offset-y: -336px;
$footer-ico2-width: 18px;
$footer-ico2-height: 21px;
$footer-ico2-total-width: 904px;
$footer-ico2-total-height: 744px;
$footer-ico2-image: '/m/images/sprite.png?1529506103997';
$footer-ico2: (812px, 336px, -812px, -336px, 18px, 21px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'footer_ico2', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 836px;
$icon-facebook-y: 90px;
$icon-facebook-offset-x: -836px;
$icon-facebook-offset-y: -90px;
$icon-facebook-width: 49px;
$icon-facebook-height: 49px;
$icon-facebook-total-width: 904px;
$icon-facebook-total-height: 744px;
$icon-facebook-image: '/m/images/sprite.png?1529506103997';
$icon-facebook: (836px, 90px, -836px, -90px, 49px, 49px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'icon_facebook', );
$icon-navertv-name: 'icon_navertv';
$icon-navertv-x: 782px;
$icon-navertv-y: 232px;
$icon-navertv-offset-x: -782px;
$icon-navertv-offset-y: -232px;
$icon-navertv-width: 49px;
$icon-navertv-height: 49px;
$icon-navertv-total-width: 904px;
$icon-navertv-total-height: 744px;
$icon-navertv-image: '/m/images/sprite.png?1529506103997';
$icon-navertv: (782px, 232px, -782px, -232px, 49px, 49px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'icon_navertv', );
$l-menu-img1-name: 'l_menu_img1';
$l-menu-img1-x: 260px;
$l-menu-img1-y: 437px;
$l-menu-img1-offset-x: -260px;
$l-menu-img1-offset-y: -437px;
$l-menu-img1-width: 138px;
$l-menu-img1-height: 91px;
$l-menu-img1-total-width: 904px;
$l-menu-img1-total-height: 744px;
$l-menu-img1-image: '/m/images/sprite.png?1529506103997';
$l-menu-img1: (260px, 437px, -260px, -437px, 138px, 91px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'l_menu_img1', );
$l-menu-img4-name: 'l_menu_img4';
$l-menu-img4-x: 146px;
$l-menu-img4-y: 570px;
$l-menu-img4-offset-x: -146px;
$l-menu-img4-offset-y: -570px;
$l-menu-img4-width: 138px;
$l-menu-img4-height: 129px;
$l-menu-img4-total-width: 904px;
$l-menu-img4-total-height: 744px;
$l-menu-img4-image: '/m/images/sprite.png?1529506103997';
$l-menu-img4: (146px, 570px, -146px, -570px, 138px, 129px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'l_menu_img4', );
$l-menu-img5-name: 'l_menu_img5';
$l-menu-img5-x: 304px;
$l-menu-img5-y: 570px;
$l-menu-img5-offset-x: -304px;
$l-menu-img5-offset-y: -570px;
$l-menu-img5-width: 138px;
$l-menu-img5-height: 128px;
$l-menu-img5-total-width: 904px;
$l-menu-img5-total-height: 744px;
$l-menu-img5-image: '/m/images/sprite.png?1529506103997';
$l-menu-img5: (304px, 570px, -304px, -570px, 138px, 128px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'l_menu_img5', );
$l-menu-img6-name: 'l_menu_img6';
$l-menu-img6-x: 462px;
$l-menu-img6-y: 570px;
$l-menu-img6-offset-x: -462px;
$l-menu-img6-offset-y: -570px;
$l-menu-img6-width: 138px;
$l-menu-img6-height: 128px;
$l-menu-img6-total-width: 904px;
$l-menu-img6-total-height: 744px;
$l-menu-img6-image: '/m/images/sprite.png?1529506103997';
$l-menu-img6: (462px, 570px, -462px, -570px, 138px, 128px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'l_menu_img6', );
$l-menu-logo-name: 'l_menu_logo';
$l-menu-logo-x: 452px;
$l-menu-logo-y: 0px;
$l-menu-logo-offset-x: -452px;
$l-menu-logo-offset-y: 0px;
$l-menu-logo-width: 452px;
$l-menu-logo-height: 70px;
$l-menu-logo-total-width: 904px;
$l-menu-logo-total-height: 744px;
$l-menu-logo-image: '/m/images/sprite.png?1529506103997';
$l-menu-logo: (452px, 0px, -452px, 0px, 452px, 70px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'l_menu_logo', );
$m-footer-logo2-name: 'm_footer_logo2';
$m-footer-logo2-x: 620px;
$m-footer-logo2-y: 570px;
$m-footer-logo2-offset-x: -620px;
$m-footer-logo2-offset-y: -570px;
$m-footer-logo2-width: 150px;
$m-footer-logo2-height: 57px;
$m-footer-logo2-total-width: 904px;
$m-footer-logo2-total-height: 744px;
$m-footer-logo2-image: '/m/images/sprite.png?1529506103997';
$m-footer-logo2: (620px, 570px, -620px, -570px, 150px, 57px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'm_footer_logo2', );
$m-main-logo-name: 'm_main_logo';
$m-main-logo-x: 0px;
$m-main-logo-y: 437px;
$m-main-logo-offset-x: 0px;
$m-main-logo-offset-y: -437px;
$m-main-logo-width: 240px;
$m-main-logo-height: 113px;
$m-main-logo-total-width: 904px;
$m-main-logo-total-height: 744px;
$m-main-logo-image: '/m/images/sprite.png?1529506103997';
$m-main-logo: (0px, 437px, 0px, -437px, 240px, 113px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'm_main_logo', );
$m-portfolio-title-name: 'm_portfolio_title';
$m-portfolio-title-x: 418px;
$m-portfolio-title-y: 437px;
$m-portfolio-title-offset-x: -418px;
$m-portfolio-title-offset-y: -437px;
$m-portfolio-title-width: 232px;
$m-portfolio-title-height: 35px;
$m-portfolio-title-total-width: 904px;
$m-portfolio-title-total-height: 744px;
$m-portfolio-title-image: '/m/images/sprite.png?1529506103997';
$m-portfolio-title: (418px, 437px, -418px, -437px, 232px, 35px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'm_portfolio_title', );
$m-teacher-left-arrow-name: 'm_teacher_left_arrow';
$m-teacher-left-arrow-x: 888px;
$m-teacher-left-arrow-y: 232px;
$m-teacher-left-arrow-offset-x: -888px;
$m-teacher-left-arrow-offset-y: -232px;
$m-teacher-left-arrow-width: 16px;
$m-teacher-left-arrow-height: 45px;
$m-teacher-left-arrow-total-width: 904px;
$m-teacher-left-arrow-total-height: 744px;
$m-teacher-left-arrow-image: '/m/images/sprite.png?1529506103997';
$m-teacher-left-arrow: (888px, 232px, -888px, -232px, 16px, 45px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'm_teacher_left_arrow', );
$m-teacher-right-arrow-name: 'm_teacher_right_arrow';
$m-teacher-right-arrow-x: 851px;
$m-teacher-right-arrow-y: 232px;
$m-teacher-right-arrow-offset-x: -851px;
$m-teacher-right-arrow-offset-y: -232px;
$m-teacher-right-arrow-width: 17px;
$m-teacher-right-arrow-height: 46px;
$m-teacher-right-arrow-total-width: 904px;
$m-teacher-right-arrow-total-height: 744px;
$m-teacher-right-arrow-image: '/m/images/sprite.png?1529506103997';
$m-teacher-right-arrow: (851px, 232px, -851px, -232px, 17px, 46px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'm_teacher_right_arrow', );
$r-box-down-arr-name: 'r_box_down_arr';
$r-box-down-arr-x: 452px;
$r-box-down-arr-y: 194px;
$r-box-down-arr-offset-x: -452px;
$r-box-down-arr-offset-y: -194px;
$r-box-down-arr-width: 26px;
$r-box-down-arr-height: 16px;
$r-box-down-arr-total-width: 904px;
$r-box-down-arr-total-height: 744px;
$r-box-down-arr-image: '/m/images/sprite.png?1529506103997';
$r-box-down-arr: (452px, 194px, -452px, -194px, 26px, 16px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'r_box_down_arr', );
$special-course-title-name: 'special_course_title';
$special-course-title-x: 670px;
$special-course-title-y: 437px;
$special-course-title-offset-x: -670px;
$special-course-title-offset-y: -437px;
$special-course-title-width: 197px;
$special-course-title-height: 34px;
$special-course-title-total-width: 904px;
$special-course-title-total-height: 744px;
$special-course-title-image: '/m/images/sprite.png?1529506103997';
$special-course-title: (670px, 437px, -670px, -437px, 197px, 34px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'special_course_title', );
$tit-campusinfo-name: 'tit_campusinfo';
$tit-campusinfo-x: 0px;
$tit-campusinfo-y: 232px;
$tit-campusinfo-offset-x: 0px;
$tit-campusinfo-offset-y: -232px;
$tit-campusinfo-width: 364px;
$tit-campusinfo-height: 84px;
$tit-campusinfo-total-width: 904px;
$tit-campusinfo-total-height: 744px;
$tit-campusinfo-image: '/m/images/sprite.png?1529506103997';
$tit-campusinfo: (0px, 232px, 0px, -232px, 364px, 84px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'tit_campusinfo', );
$tit-pf-name: 'tit_pf';
$tit-pf-x: 452px;
$tit-pf-y: 90px;
$tit-pf-offset-x: -452px;
$tit-pf-offset-y: -90px;
$tit-pf-width: 364px;
$tit-pf-height: 84px;
$tit-pf-total-width: 904px;
$tit-pf-total-height: 744px;
$tit-pf-image: '/m/images/sprite.png?1529506103997';
$tit-pf: (452px, 90px, -452px, -90px, 364px, 84px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'tit_pf', );
$unemployed-title-name: 'unemployed_title';
$unemployed-title-x: 384px;
$unemployed-title-y: 232px;
$unemployed-title-offset-x: -384px;
$unemployed-title-offset-y: -232px;
$unemployed-title-width: 378px;
$unemployed-title-height: 79px;
$unemployed-title-total-width: 904px;
$unemployed-title-total-height: 744px;
$unemployed-title-image: '/m/images/sprite.png?1529506103997';
$unemployed-title: (384px, 232px, -384px, -232px, 378px, 79px, 904px, 744px, '/m/images/sprite.png?1529506103997', 'unemployed_title', );
$spritesheet-width: 904px;
$spritesheet-height: 744px;
$spritesheet-image: '/m/images/sprite.png?1529506103997';
$spritesheet-sprites: ($campus-info-title, $class-information-title, $curri-img01-new, $curri-img02, $employed-title, $footer-ico1, $footer-ico2, $icon-facebook, $icon-navertv, $l-menu-img1, $l-menu-img4, $l-menu-img5, $l-menu-img6, $l-menu-logo, $m-footer-logo2, $m-main-logo, $m-portfolio-title, $m-teacher-left-arrow, $m-teacher-right-arrow, $r-box-down-arr, $special-course-title, $tit-campusinfo, $tit-pf, $unemployed-title, );
$spritesheet: (904px, 744px, '/m/images/sprite.png?1529506103997', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
